/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  line-height: inherit;
  transition: 0.3s;
}

/* Estilo para o body */
body {
  background-color: #f9f3f3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.caixa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 70vh;
}
.caixaa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 30vh;
}

form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50vh;
  width: 70%;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para os títulos */
h1, h2 {
  color: #e51b6c;
  margin-bottom: 5vh;
}

/* Estilo para os links */
a {
  color: #e51b6c;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.576);
  transition: 0.2s;
}

/* Estilo para as tabelas */
table {
  width: 100%;

}

th, td {
  padding: 10px;
  text-align: left;
}

th{
  background-color: #ff828d;
}

tr{
  background-color: #ffdfea;
}

tr:hover{
  background-color: #f7adcb;
}

/* Estilo para os botões */
input[type=submit] {
  display: inline-block;
  padding: 6px 10px;
  background-color: #e51b6c;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  transition: 0.2s;
  margin-top: 5vh;
}

input[type=submit]:hover {
  background-color: #c10751;
  box-shadow: 0px 0px 5px #4d001f;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.576);
  transition: 0.2s;
}

input[type=text],
input[type=date],
input[type=number],
select{
  width: 100%;
  height: 4vh;
  border-radius: 10px;
  border: #4d001f 1px solid;
}